MEDIUM_PROFILE_URL=https://medium.com/@username
MEDIUM_DB_PATH=data/medium_publisher.db
MEDIUM_BROWSER_PROFILE=playwright-profile
MEDIUM_HEADLESS=false
MEDIUM_DRY_RUN=true
MEDIUM_MIN_FOLLOWERS=100
MEDIUM_MAX_FOLLOWERS=50000
MEDIUM_ACTIVE_DAYS=60
MEDIUM_MIN_SCORE=75
MEDIUM_DAILY_LIMIT=3
MEDIUM_WEEKLY_LIMIT=10
MEDIUM_ACTION_DELAY_MIN=2.0
MEDIUM_ACTION_DELAY_MAX=5.0
MEDIUM_ARTIFACT_DIR=artifacts
MEDIUM_MAX_SCROLLS=30
MEDIUM_SEMANTIC_MODEL=

